#lista{
  background-color:#383b43;
}

#lista ul{
  padding-right:5%;
  list-style:none; 
  color: #dcced0; 
  margin-left:25%;
  width: 60%;
  height:30%;
}
#lista li{
  color: #dcced0;
  display:inline;
  margin-left:2%;
  margin-right:2%;
  font-size:30px;
  margin-top: 0%;
  width: 60%;
  height:30%;
}
#arquivo{
  height: 30px;
  width: 600px;

}
.cadastrar{
  height: 40px;
  width: 250px;
  padding-right: 2%;
  text-align: center;
  margin-left: 25%;
  margin-bottom: 80%;
  background-color: #597183;
  margin-right: 40%;
  margin-top: 10%;

}

#site{
  margin-top: 500px;
  width: 500px;
  height: 550px;
  margin: 15% auto;
  text-align: left;
  border: 7px solid #000000;
}
#logo{
  height: 200px;
  width: 250px;
  float: left;
}
#divBusca{
  background-color:#E0EEEE;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  width:300px;
  height:32px;
  float: center;
  justify-content: center;
  text-align:left;
  float: right;
  margin: right;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
  border-bottom-color: #dcced0;
}

#btnBusca{
  border:none;
  float:left;
  height:29px;
  border-radius:0 7px 7px 0;
  width:77px;
  font-weight:bold;
  background-color:#383b43;
  color: #dcced0;
}

#divBusca img{
  float:left;
}
#lupa {
  width:28px;
  height:28px;
}
h1 {
  font-size: 32px;
  height: 45px;
  width: 450px;
  margin-top: 2%;
  text-align: center;
}
h2{
  color:#597183;
}
h4{
  float: left;
  color: #597183;
}
#h44{
  height: 150px;
  width: 200px;
  color: #597183;
}
#caixa{
  height: 22px;
  width: 425px;
  float: left;
  margin-right: 42%;
  border-bottom-color: #597183;

}
body {
  background-color: #72F0E5;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #597183;
}
#rodape1{
  width: 100%;
  background-color: #383b43;
  height: 500px;
}
#extrema-esquerda{
  font-size: 14px;
  float: left;
  margin-left:1%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 14%;
}
#esquerda{
  font-size: 14px;
  float: left;
  margin-left:3%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
}
#direita{
  font-size: 14px;
  float: left;
  margin-left:3%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
}
#extrema-direita{
  font-size: 14px;
  float: left;
  margin-left:3%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;

}
#parag-rodape{
  color: #dcced0;
}
#p-rodap{
  margin-left: 6%;
  clear:both;
  border:solid;
  border-width: 2px 0 0 0;
  margin-right: 5%; 
  border-color:rgba(144,144,144,0.25); 
  color: #858585;
  font-size: 16px;
}
#p1{
  margin-top: 4%;
  float: left;
  margin-right: 20px;
}
#facebook{
  margin-top: 1%;
  background-color: #39599f;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
  margin-left: 2%;
}
#twitter{
  margin-top: 1%;
  background-color: #2daae4;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
}
#googleplus{
  margin-top: 1%;
  background-color: #c91e1f;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
}
#simbolo{
  margin-right: 5%;
}
#ista{
  width: 50px;
  height: 50px;
  margin-top: 3%;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
}

form {
  margin-left: 3%;
}
h4{
  margin-left: 3%;
}
h2{
  margin-left: 3%;
}
button{
  border-radius:30px;
}
a:link 
{ 
text-decoration:none; 
} 
