body{
background-color: #72F0E5;
}
#lista{
  background-color:#383b43;
}

#lista ul{
  padding-right:5%;
  list-style:none; 
  color: #dcced0; 
  margin-left:25%; 
}
#lista li{
  color: #dcced0;
  display:inline;
  margin-left:2%;
  margin-right:2%;
  font-size:30px;
}
#site{
  width:100%;
  padding:0%;
}
#logo{
  border-radius: 33px;
  height: 200px;
  width: 250px;
}
#divBusca{
  background-color:#E0EEEE;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  width:300px;
  height:32px;
  float: right;
  justify-content: center;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
  border-bottom-color: #dcced0;
}

#btnBusca{
  border:none;
  float:left;
  height:30px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background-color:#383b43;
  color: #dcced0;
}

#divBusca img{
  float:left;
}
#lupa {
  width:28px;
  height:28px;
}
#rodape1{
  width: 100%;
  background-color: #383b43;
  height: 470px;

}
#extrema-esquerda{
  font-size: 14px;
  float: left;
  margin-left:6%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
}
#esquerda{
  font-size: 14px;
  float: left;
  margin-left:5%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
}
#direita{
  font-size: 14px;
  float: left;
  margin-left:5%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
}
#extrema-direita{
  font-size: 14px;
  float: left;
  margin-left:5%;
  color:#cdced0;
  margin-top: 4%;
  margin-bottom: 3%;
}
#parag-rodape{
  color: #dcced0;
}
#p-rodap{
  margin-left: 6%;
  clear:both;
  border:solid;
  border-width: 2px 0 0 0;
  margin-right: 5%; 
  border-color:rgba(144,144,144,0.25); 
  color: #858585;
  font-size: 16px;
}
#p1{
  margin-top: 4%;
  float: left;
  margin-right: 20px;
}
#facebook{
  margin-top: 3%;
  background-color: #39599f;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-image: url(facebook.svg);
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
}
#twitter{
  margin-top: 3%;
  background-color: #2daae4;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-image: url(twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
  margin-left: 2%;
}
#googleplus{
  margin-top: 3%;
  background-color: #c91e1f;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-image: url(gplus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
}
#simbolo{
  margin-right: 5%;
}
#ista{
  width: 50px;
  height: 50px;
  margin-top: 3%;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  margin-right: 2%;
}
h3{
  float: left;
}
#Produto{
  margin:15px;
  display:flex;
  justify-content:space-around;
  padding: 30px;
}
#imagens{
  margin-left: 30%;
  width:30%;
}
.imagemgrande{
  margin: 0px -15px;
  padding: 20px;
  width: 270px;
}
.menor{
  width:80px;
  height:80px;
}
#escolhaquant{
 color:#dcced0;
padding-bottom:75%;
margin-right:0%;
margin-left: 0%;
}

#botao{
height:40px;
width:15%;
margin-bottom: 0% auto;
 background-color:#383b43;
  color:#dcced0;
position:absolute;
margin-left: 20%; 
margin-top: 2%;
}